<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Freki</title>
    <script defer src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
          <img src="<%= Routes.static_path(@conn, "/images/32207.png") %>" width="112" height="28">
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item">
            Home
          </a>

          <a class="navbar-item">
            Documentation
          </a>

          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
              More
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item">
                About
              </a>
              <a class="navbar-item">
                Jobs
              </a>
              <a class="navbar-item">
                Contact
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item">
                Report an issue
              </a>
            </div>
          </div>
        </div>

        <div class="navbar-end">
          <%= if @account do %>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                <img src="https://images.evetech.net/characters/<%= @account.char_id %>/portrait?size=128" />
              </a>
              <div class="navbar-dropdown is-right">
                <%= form_for @conn, Routes.page_path(@conn, :logout), [id: "logout_form"], fn f -> %>
                  <%= hidden_input f, :logout, value: true %>
                  <a class="navbar-item" href="javascript:void(0)" onclick="document.getElementById('logout_form').submit();">
                    <span class="icon">
                      <i class="fas fa-sign-out-alt"></i>
                    </span>
                    Logout
                  </a>
                <% end %>
              </div>
            </div>
          <% else %>
            <div class="navbar-item">
              <div class="buttons">
                  <a href="<%= Routes.page_path(@conn, :oauth_create) %>">
                    <img src="<%= Routes.static_path(@conn, "/images/eve_login.bmp") %>"/>
                  </a>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </nav>
    <section class="section">
      <div class="container">
        <h1 class="title">
          Hello World
        </h1>
        <p class="subtitle">
          <%= render @view_module, @view_template, assigns %>
        </p>
      </div>
    </section>
  </body>
</html>

